* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #2363a2;
  color: #333;
  display: flex;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 150px; 
}
