
.contact-page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.contact-hero {
  background-color: #000;
  color: gold;
  padding: 80px 613px;
  text-align: center;
}

.contact-hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.contact-hero p {
  font-size: 1.2rem;
}


.contact-form-section {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  background-color: #f8f9fa;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-form button {
  background-color: #000;
  color: gold;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background-color: gold;
  color: #000;
}
